body{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    height: 60px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
}

.a__logo{
    font-size: 24px;
    font-weight: 600;
}

.first{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937; 
    padding: 24px;
    margin-bottom: 24px;
}

.first__content{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.first__img{
    width: 600px;
}

.first__text, a{
    color: #e5e7eb;   
}

.first__title, .a__logo{
    color: #f9faf8;
}

.first__button{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    border: none;
}

.second{
    flex: 1;
    text-align: center;
    margin-bottom: 48px;
}

.container{
    flex: 1;
    display: flex;
    gap: 64px;
    justify-content: center;
}

.second__heading{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 32px;
}

.second__img{
    width: 220px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.img__text{
    max-width: 200px;
}

.text{
    text-align: center;
    font-weight: 500;
    color: gray;
}

.third{
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    height: 700px;
    padding: 16px;
    margin-bottom: 48px;
    
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight:lighter;
}

.fourth{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    gap: 64px;
}