body{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    height: 60px;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
    gap: 700px;
    padding: 0 24px 0 24px;
    position: fixed;
    width: 100%;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
}

.a__logo{
    font-size: 24px;
    font-weight: 600;
}

.first{
    display: flex;
    justify-content: center;
    background-color: #1f2937; 
    padding: 104px 164px 104px 164px;
    margin-bottom: 24px;
    gap: 64px;
}

.first__info{
    width: 900px;
    flex-wrap: wrap;
}

.first__img{
    width: 500px;
    height: 250px;
}

.first__text, a{
    color: #e5e7eb;   
}

.first__text{
    margin-bottom: 12px;
}

.first__title, .a__logo{
    color: #f9faf8;
}

.first__title{
    font-size: 48px;
}

.first__button{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    border: none;
}

.first__button:hover{
    background-color: #2f70da;
}

.second{
    flex: 1;
    text-align: center;
    margin-bottom: 48px;
}

.container{
    flex: 1;
    display: flex;
    gap: 64px;
    justify-content: center;
}

.second__heading{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 32px;
}

.second__img{
    width: 220px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.img__text{
    max-width: 200px;
}

.text{
    text-align: center;
    font-weight: 500;
    color: gray;
}

.third{
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    padding: 140px;
    margin-bottom: 48px;
    
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight:lighter;
}

.quote__giver{
    text-align: right;
    color: #1f2937;
    font-weight:lighter;
    font-size: 20px;
}

.fourth{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.contact__container{
    background-color: #3882f6;
    width: 1100px;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 184px;
}

.signup{
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 8px;
    padding: 12px 48px 12px 48px;
}

.signup:hover{
    background-color: #2f70da;
}

.contact__header{
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.contact__text{
    color: #e5e7eb;
}

.footer{
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text{
    color: #e5e7eb;
}

button{
    cursor: pointer;
}